@using SkillForge.Models.Database

@model Tag

@{
    Layout = "_FieldsetLayout";
    ViewData["Legend"] = "General";

    bool isCreate = Model.Id == 0;
    string action = isCreate ? "Create" : "Update";
    ViewData["Title"] = isCreate
        ? "Create New Tag"
        : $"Edit Tag #{Model.Id}";
    ViewData["PageHeading"] = ViewData["Title"];
}

<div class="mb-5">
    <form asp-action="@action">
        <input type="hidden" asp-for="@Model.Id" />

        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.Name></label>
            </div>
            <div class="col-12 col-lg-8">
                <input asp-for=@Model.Name class="form-control" />
                <span asp-validation-for=@Model.Name class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12 col-lg-4">
                <label asp-for=@Model.Description></label>
            </div>
            <div class="col-12 col-lg-8">
                <textarea asp-for=@Model.Description class="form-control" rows="2"></textarea>
                <span asp-validation-for=@Model.Description class="text-danger"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-primary mt-4 px-4">Save</button>
    </form>
</div>