{
  "ConnectionStrings": {
    "DefaultConnection": "<connection_string>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AdminPanelInstallationKey": "<secret_key>",
  "Site": {
    "BackendUrl": "<backend_domain>",
    "FrontendUrl": "<frontend_domain>"
  }
}
