@using SkillForge.Models.Database

@model Article

@{
    Layout = "_AdminPageLayout";
    ViewData["PageHeading"] = "Article #" + Model.Id;
    ViewData["Title"] = ViewData["PageHeading"];

    bool approvalMode = ViewData["ApprovalMode"] as bool? ?? false;
}

@if (Model.DeleteReason != null)
{
    <div class="alert alert-warning">
        This article is deleted.
    </div>
}

<partial name="_View" model="@Model" />