body {
    &:has(.modal.d-block) {
        overflow-y: hidden;
        padding-right: 15px;

        .navbar {
            padding-right: 15px;
        }
    }
}

#main-content {
    padding-top: calc(3rem + 56px);
    min-height: calc(100vh - 56px);
}

.round-image {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--bs-primary-border-subtle);
}

.rich-text-content {
    pre {
        background-color: #23241f;
        color: #f8f8f2;
        overflow: visible;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 3px;
    }

    img {
        max-width: ;
    }
}

@media (max-width: 992px) {
    .follow-button {
        display: none;
    }

    .modal {
        .follow-button {
            display: block;
        }
    }
}